<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Todo App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
    
    <div id="app">

        <div class="logo">
            <img :src="logo" alt="">
        </div>

        <div id="add_task">
            <input v-model="newTask" placeholder="Add your new task!" @keyup.13="addTask">
            <button @click="addTask">Add</button>
            <p>Add a simple task todo</p>
        </div>

        <div id="container">

            <div class="container_1">
                <h3>Todo List</h3>
                <div class="tasks" v-if="tasks.length > 0">
                    <div class="task" v-for="(task, index) in tasks">
                        <input type="text" v-model="tasks[index]" v-text="task" @change="alert(task)"> <!-- <i class="fas fa-times-circle" @click="removeTask(index)"></i> -->
                        <span>
                            <i class="fas fa-check-circle" @click="completedTask(index)"></i>
                            <i class="fas fa-trash" @click="trashedsTask(index)"></i>
                        </span>
                    </div>
                </div>
                <div class="no_tasks" v-else>
                    <p>Nothing to do</p>
                </div>
            </div>

            <div class="container_1" v-if="completeds.length > 0">
                <h3>Completed</h3>
                <div class="completeds">
                    <div class="task" v-for="(completed, index) in completeds">
                        <p>{{completed}}</p>
                        <span><i class="fas fa-undo" @click="todoTaskCompleted(index)"></i></span>
                    </div>
                </div>
            </div>

            <div class="container_1" v-if="trasheds.length > 0">
                <h3>Trashed (<span @click="clearTrash()">Empty bin</span>)</h3>
                <div class="trasheds">
                    <div class="task" v-for="(trashed, index) in trasheds">
                        <p>{{trashed}}</p>
                        <span><i class="fas fa-trash-restore" @click="todoTaskTrashed(index)"></i></span>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="./assets/js/main.js"></script>
</body>
</html>